/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 17, 2019, 9:06:14 AM
    Author     : blj0011
*/

.table-view{
    -fx-background-color:  #02030A;
}

.table-view .column-header{
    -fx-border-color: #02030A;
    -fx-background-color:  #02030A;
    -fx-vgap: -1;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill:  #e7e5e5;
    -fx-background-color:  #02030A;
}

.table-cell{
    -fx-background-color:  #02030A;
    -fx-text-fill: #e7e5e5;
    -fx-alignment: CENTER;
    -fx-border-color: #02030A;
    -fx-table-cell-border-color: #02030A;
}

#btn-tableview-css{
    -fx-border-color:  #2A73FF;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-text-fill: #e7e5e5;
}

.button:hover{
    -fx-background-color : #10165F;
}
.button:pressed
{
    -fx-background-color : #1620A1;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}


